@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

body {
	font-family:
		'Pretendard Variable',
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		'Helvetica Neue',
		'Segoe UI',
		'Apple SD Gothic Neo',
		'Noto Sans KR',
		'Malgun Gothic',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		sans-serif;
	font-size: 16px;
}

div {
	line-height: 26px;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.row:not(:first-child) {
	margin-top: 4px;
}

.col {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.col1 {
	width: 8.333333%;
}
.col3 {
	width: 25%;
}
.col6 {
	width: 50%;
}
.col12 {
	width: 100%;
}

input {
	font-family: pretendard, sans-serif;
	outline: none;
}

input.count {
	width: 20px;
}

.container {
	margin: 20px auto;
	width: min(85%, 800px);
}

.content {
	margin-top: 20px;
	border: 1px solid #ddd;
	padding: 30px 20px;
	border-radius: 16px;
	box-shadow: 5px 5px #888;
}

.content .itemDesc {
	max-height: 300px;
	overflow: auto;
}

.contentHeader {
	display: flex;
	align-items: center;
}

.contentHeader .homeLink {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.contentHeader .homeLink > img {
	width: 100%;
}

.contentHeader .searchWrap {
	width: 100%;
	border: 1px solid #bbb;
	padding: 8px 10px;
	border-radius: 4px;
}
.contentHeader .searchWrap > input[id='searchText'] {
	width: calc(100% - 30px);
	font-size: 16px;
	border: none;
}

.itemHeader {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.itemName {
	font-size: 20px;
	font-weight: 700;
}

.subtitle {
	font-size: 18px;
	font-weight: 700;
	margin: 8px 0 6px;
}

.itemImg {
	width: 36px;
	height: 36px;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 10px;
}

.itemImg > img {
	width: 100%;
}

.earnList .colHeader {
	background-color: #ddd;
	vertical-align: middle;
}

.earnList .recipe {
	width: 100%;
}

.earnList .recipe > .col {
	flex: 1 0 auto;
}
