@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

:root {
	--text: #333;
	--point-color: indianred; /* 흑정령 눈색 */
	--success-color: rgb(0, 140, 255);
	--gold-color: rgb(255, 179, 0);
	--gray-color: #666;
	--gray-color1: #999;
	--gray-color2: #bbb;
	--gray-color3: #ddd;
	--gray-color3: #ddd;
	--gray-color4: #eeeeee;
}

body {
	font-family:
		'Pretendard Variable',
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		'Helvetica Neue',
		'Segoe UI',
		'Apple SD Gothic Neo',
		'Noto Sans KR',
		'Malgun Gothic',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		sans-serif;
	font-size: min(16px, 4.10256vw);
	color: var(--text);
	margin: 0;
}

input:read-only {
	background-color: #eee;
}

div {
	line-height: min(26px, 6.6666667vw);
	color: var(--text);
}

a {
	text-decoration: unset;
	color: inherit;
}

li {
	list-style: none;
	color: var(--text);
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.row:not(:first-child) {
	margin-top: 4px;
}

.col {
	display: flex;
	flex-direction: column;
}
.col1 {
	width: 8.333333%;
}
.col3 {
	width: 25%;
}
.col6 {
	width: 50%;
}
.col12 {
	width: 100%;
}

input {
	font-family: pretendard, sans-serif;
	outline: none;
	color: var(--text);
	border: 1px solid var(--gray-color2);
	border-radius: 4px;
}

input.count {
	width: 64%;
	min-width: min(40px, 10.2564103vw);
	max-width: min(60px, 15.3846154vw);
	font-size: min(13px, 3.3333333vw);
	padding: 2px 4px;
	text-align: right;
}

.container {
	margin: 20px auto;
	width: min(95%, 1024px);
}

.content {
	margin-top: 20px;
	border: 1px solid var(--gray-color3);
	padding: min(30px, 7.6923077vw) min(20px, 5.1282051vw);
	border-radius: min(16px, 4.1025641vw);
	box-shadow: 5px 5px #888;
}

.content .itemDesc {
	max-height: 300px;
	overflow: auto;
}

.contentHeader {
	display: flex;
	align-items: center;
	margin: 20px auto;
	width: min(95%, 1024px);
}

.contentHeader .homeLink {
	width: min(40px, 10.26vw);
	height: min(40px, 10.26vw);
	margin-right: 10px;
}

.contentHeader .homeLink > img {
	width: 100%;
}

.contentHeader .searchWrap {
	position: relative;
	width: 100%;
	position: relative;
	border: 1px solid var(--gray-color2);
	padding: min(8px, 2.0512821vw) min(10px, 2.5641026vw);
	border-radius: 4px;
}
.contentHeader .searchWrap > input[id='searchText'] {
	width: 100%;
	font-size: min(16px, 4.10256vw);
	border: none;
}
.contentHeader .searchWrap > div#autoComplete,
.contentHeader .searchWrap > div#toolBox {
	position: absolute;
	background: white;
	left: 0;
	top: 120%;
	width: 100%;
	font-size: min(16px, 4.1025641vw);
	line-height: 44px;
	border: 1px solid var(--gray-color2);
	border-radius: 4px;
}
.contentHeader .searchWrap > div#autoComplete.empty,
.contentHeader .searchWrap > div#toolBox.empty {
	display: none;
}

.contentHeader .searchWrap > div#toolBox {
	display: flex;
}

.itemHeader {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
}

.itemHeader > div {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}

.itemName {
	font-size: min(20px, 5.1282051vw);
	font-weight: 700;
}

.subtitle {
	font-size: min(18px, 4.6153846vw);
	font-weight: 700;
	margin: 8px 0 6px;
}

.itemImg {
	width: min(36px, 9.2307692vw);
	height: min(36px, 9.2307692vw);
	border: 1px solid var(--gray-color3);
	border-radius: 4px;
	overflow: hidden;
	margin-right: min(10px, 2.5641026vw);
}

.itemImg > img {
	width: 100%;
}

.earnList .colHeader {
	width: min(130px, 33.3333333vw);
	text-align: center;
	background-color: var(--gray-color3);
	vertical-align: middle;
}

.earnList .recipe {
	width: 100%;
	flex-wrap: wrap;
	max-height: 200px;
	overflow: auto;
}

.earnList .recipe > .col {
	margin: auto;
}

img.miniItem {
	width: min(22px, 5.6410256vw);
	height: min(22px, 5.6410256vw);
	border: 1px solid var(--gray-color3);
	border-radius: 4px;
}

.usageList {
	display: flex;
	flex-wrap: wrap;
}

.usageList > div {
	margin-right: min(10px, 2.5641026vw);
	min-width: 22%;
}

.miniItemLabel {
	display: flex;
	align-items: center;
	line-height: min(22px, 5.6410256vw);
	padding: 4px 6px;
	color: var(--point-color);
	font-size: min(15px, 3.8461538vw);
	border-radius: 4px;
}

.miniItemLabel:hover {
	background: var(--point-color);
	cursor: pointer;
	color: #fff;
}

.miniItemLabel span {
	margin-left: 4px;
}

.btnWrap {
	display: flex;
}

.btnWrap > .btn:not(:first-child) {
	margin-left: 6px;
}

/* btn 기본 */
.btn {
	display: flex;
	align-items: center;
	padding: min(4px, 1.025641vw) min(7px, 1.7948718vw);
	background: #fff;
	border: 1px solid var(--gray-color);
	color: var(--gray-color);
	border-radius: 4px;
	font-size: min(12px, 3.0769231vw);
	cursor: pointer;
}
.btn:hover {
	background: var(--gray-color);
	border-color: #fff;
	color: #fff;
}

.btn > svg.bi:not(:only-child) {
	margin-right: 4px;
}

.btn.reverse {
	background: var(--gray-color);
	border-color: var(--gray-color);
	color: #fff;
}
.btn.reverse:hover {
	background: #fff;
	border-color: var(--gray-color);
	color: var(--gray-color);
}

.btn.main {
	background: var(--point-color);
	border-color: var(--point-color);
	color: #fff;
}
.btn.main:hover {
	background: #fff;
	border-color: var(--point-color);
	color: var(--point-color);
}

.btn.success {
	background: var(--success-color);
	border-color: var(--success-color);
	color: #fff;
}
.btn.success:hover {
	background: #fff;
	border-color: var(--success-color);
	color: var(--success-color);
}

.btn.gold {
	background: var(--gold-color);
	border-color: var(--gold-color);
	color: #fff;
}
.btn.gold:hover {
	background: #fff;
	border-color: var(--gold-color);
	color: var(--gold-color);
}

.likeWrap {
	display: flex;
	border: 1px solid var(--gray-color2);
	border-radius: 4px;
	margin-left: min(6px, 1.5384615vw);
	align-items: center;
}

.likeWrap .likeCnt {
	font-size: min(12px, 3.0769231vw);
	color: var(--gray-color1);
	min-width: min(15px, 3.8461538vw);
	text-align: center;
}

.btn.solid {
	height: 20px;
	background: none;
	border: none;
	padding: 0;
	margin: 0 5px;
	transition:
		opacity 0.3s,
		transform 0.3s;
}

.btn.solid.success {
	color: var(--success-color);
}

.btn.solid.reverse {
	color: var(--gray-color);
}

button.btn.solid:hover,
button.btn.solid:focus {
	opacity: 0.6;
}

button.btn.solid:active {
	transform: scale(1.2);
}

@media (max-width: 480px) {
	.container {
		margin: 20px 0;
		width: 100%;
	}
}
