@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');

:root {
	--text: #333;
	--point-color: indianred; /* 흑정령 눈색 */
}

body {
	font-family:
		'Pretendard Variable',
		Pretendard,
		-apple-system,
		BlinkMacSystemFont,
		system-ui,
		Roboto,
		'Helvetica Neue',
		'Segoe UI',
		'Apple SD Gothic Neo',
		'Noto Sans KR',
		'Malgun Gothic',
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		sans-serif;
	font-size: 16px;
	color: --text;
}

div {
	line-height: 26px;
	color: var(--text);
}

a {
	text-decoration: unset;
	color: inherit;
}

li {
	list-style: none;
	color: var(--text);
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.row:not(:first-child) {
	margin-top: 4px;
}

.col {
	display: flex;
	flex-direction: column;
}
.col1 {
	width: 8.333333%;
}
.col3 {
	width: 25%;
}
.col6 {
	width: 50%;
}
.col12 {
	width: 100%;
}

input {
	font-family: pretendard, sans-serif;
	outline: none;
	color: var(--text);
}

input.count {
	width: 64%;
	min-width: 40px;
}

.container {
	margin: 20px auto;
	width: min(95%, 1024px);
}

.content {
	margin-top: 20px;
	border: 1px solid #ddd;
	padding: 30px 20px;
	border-radius: 16px;
	box-shadow: 5px 5px #888;
}

.content .itemDesc {
	max-height: 300px;
	overflow: auto;
}

.contentHeader {
	display: flex;
	align-items: center;
}

.contentHeader .homeLink {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.contentHeader .homeLink > img {
	width: 100%;
}

.contentHeader .searchWrap {
	position: relative;
	width: 100%;
	position: relative;
	border: 1px solid #bbb;
	padding: 8px 10px;
	border-radius: 4px;
}
.contentHeader .searchWrap > input[id='searchText'] {
	width: 100%;
	font-size: 16px;
	border: none;
}
.contentHeader .searchWrap > div#autoComplete {
	position: absolute;
	background: white;
	left: 0;
	top: 120%;
	width: 100%;
	font-size: 16px;
	line-height: 44px;
	border: 1px solid #bbb;
	border-radius: 4px;
}
.contentHeader .searchWrap > div#autoComplete.empty {
	display: none;
}

.itemHeader {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	justify-content: space-between;
}

.itemHeader > div {
	display: flex;
	align-items: center;
}

.itemName {
	font-size: 20px;
	font-weight: 700;
}

.subtitle {
	font-size: 18px;
	font-weight: 700;
	margin: 8px 0 6px;
}

.itemImg {
	width: 36px;
	height: 36px;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 10px;
}

.itemImg > img {
	width: 100%;
}

.earnList .colHeader {
	width: 130px;
	text-align: center;
	background-color: #ddd;
	vertical-align: middle;
}

.earnList .recipe {
	width: 100%;
	flex-wrap: wrap;
	max-height: 200px;
	overflow: auto;
}

.earnList .recipe > .col {
	margin: auto;
}

img.miniItem {
	width: 22px;
	height: 22px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.usageList {
	display: flex;
	flex-wrap: wrap;
}

.usageList > div {
	margin-right: 10px;
	min-width: 22%;
}

.miniItemLabel {
	line-height: 22px;
	padding: 4px 6px;
	color: var(--point-color);
	font-size: 15px;
	border-radius: 4px;
}

.miniItemLabel:hover {
	background: var(--point-color);
	color: #fff;
}

.miniItemLabel a {
	display: flex;
	align-items: center;
}

.miniItemLabel a span {
	margin-left: 4px;
}

/* btn 기본 */
.btn {
	display: flex;
	align-items: center;
	padding: 4px 7px;
	background: #fff;
	border: 1px solid #666;
	border-radius: 4px;
}

.btn > svg.bi {
	margin-right: 4px;
}

.btn.main {
	background: var(--point-color);
	border-color: var(--point-color);
	color: #fff;
}
.btn.main:hover {
	background: #fff;
	border-color: var(--point-color);
	color: var(--point-color);
}
