<!doctype html>
<html lang="kr">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,  maximum-scale=1.0, shrink-to-fit=no" />
		<meta name="format-detection" content="telephone=no" />
		<meta http-equiv="Expires" content="Mon, 06 Jan 1990 00:00:01 GMT" />
		<meta http-equiv="Expires" content="-1" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />

		<title>BDR - 검은사막 레시피</title>
	</head>

	<body>
		<div class="connectionError">
			<!-- CONNECTION ERROR -->
			<div class="connectionErrorWrap">
				<img src="/img/error.svg" alt="페이지를 불러올 수 없습니다." />
				<h2 class="fs22 fw-d">페이지를 불러올 수 없습니다.</h2>
				<div class="message"><%- errorHtml %></div>
			</div>
		</div>

		<style>
			body {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: calc(100vh - 16px);
			}

			.connectionError {
				flex: 0 0 auto;
			}

			.connectionErrorWrap img {
				display: block;
				width: 40vw;
				height: 40vw;
				margin: 0 auto 4.2666667vw;
			}

			.connectionError h2 {
				padding-bottom: var(--px20);
				font-size: 6vw;
				color: #000000;
				line-height: 1;
				letter-spacing: -0.69px;
				text-align: center;
			}

			.connectionError .message {
				margin-bottom: 16vw;
				text-align: center;
			}

			.connectionError p {
				margin: 0;
				font-size: 3.7333333vw;
				line-height: 1.4;
				letter-spacing: -0.46px;
				color: #979797;
			}
		</style>
	</body>
</html>
